<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="text-center py-3 pb-2">
                    <img src="https://www.pngitem.com/pimgs/m/111-1114675_user-login-person-man-enter-person-login-icon.png"
                    alt="" class="card-img-top" style="width: 180px;"/>
                </div>
                
                <div class="card-body">
                    <h5 class="card-title text-center mt-0 mb-4" style="font-size:2rem; font-family: 'Poppins'; font-weight:600">SIGN IN</h5>   
                    <form action="/auth/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="text" id="username" name="email" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block" style="background-color:#6504b4; border-color:#6504b4">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>