<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 style="font-family: 'Poppins';padding:20px;padding-top:30px; padding-bottom: 15px;text-align: center;">Post a Campground</h1>
    <div class="col-sm-12 col-md-6 offset-md-3 p-4">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="title" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="price" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="description"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

           
            <div class="mb-5 mt-4 text-center">
                <button class="btn btn-success" style="background-color:#6504b4; border-color:#6504b4">Save Campground</button>
            </div>
        </form>
    </div>
</div>